
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* ----- /сброс ----- */

/* ----- базовые настройки ----- 24navo.com*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #828282;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #d2a739;
	text-decoration: underline;
}
a:hover {
	color: #00a8ff;
	text-decoration:none;
}
a:focus, a:active {
	color: #00a8ff;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

/* ----- /базовые настройки ----- */
/*     динамика, выполненна на стилях CSS3       <!-----      23.3         ----->   */
@keyframes swing {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
.swaying:hover {
  animation: swing 1.5s ease;
  animation-iteration-count: 1;
}
.three:hover {
  text-shadow: 1px 1px #298A08, 2px 2px gold, 3px 3px #298A08, 5px 5px #fff;
  -webkit-transform: translateX(5px);
  transform: translateY(-5px);
}
/*     /динамика, выполненна на стилях CSS3       <!-----    /  23.3         ----->   */
/* ----- Header ----- */
.head-0 {
	background: rgba(7,7,7,0.3);
	position: fixed;
	width: 100%;
	z-index: 200;
}
.main-top {
	max-width: 100%;
	margin: 0 auto;
}
.header-t {
	padding: 25px 0 10px 0;
}
.asus {
	float: left;
	margin-left: 5em;
}
.menu {
	float: right;
}
.menu li {
	float: left;
	margin-right: 28px;
	font-size: 0.875em;
	text-transform: uppercase;
}
.menu li a {
	text-decoration: none;
	color: #ffffff;
	font-weight: 800;
}
.menu a:hover {
	color: #00a8ff;
	border-bottom: 1px solid #ffffff;
	padding: 3px;
}
/* ----- /Header ----- */
/* ----- Слайдер ----- */
.unslider-nav {
	max-width: 100%;
	margin: -19px auto 0 auto;
	position: relative;
	top: -1.5em;
}
.slider-cover {
	position: absolute;
	max-width: 1000px;
	left: 15%;
	top: 30%;
}
.my-slider ul li {
	position: relative;
	border-bottom: 2px solid green;
	font-size: 0;
}
.my-slider ul li h1 {
	color: #d2a739;
	font-size: 50px;
	margin-bottom: 1em;
}
.my-slider p {
	color: #00a8ff;
	font-size: 28px;
	left: 100px;
	top: 250px;
}
.my-slider p span {
	font-size: 18px;
	margin-top: 15px;
	display: block;
}
.my-slider ul li img {
	width: 100%;
}
.download-top {
	color: #828282;
	border: 2px solid #828282;
	border-radius: 20px;
	padding: 18px 45px;
	font-weight: 700;
	font-size: 18px;
	text-decoration: none;
}
.slider-cover a:hover {
	border: 2px solid #00a8ff;
}
/* -------------------------------- */
.main-middle3-all {
	background: #f1f1f1;
	border-bottom: 2px solid #828282;
	padding: 50px 0 40px 0;
}
.main-middle3-all h3 {
	color: #d2a739;
	font-size: 1.25em;
	text-align: center;
}
.main-middle3-all hr {
	max-width: 40%;
	height: 2px;
	background: linear-gradient(to right,rgba(210,167,57,0)0%,rgba(210,167,57,0.7)50%,rgba(210,167,57,0)100%);
	border: 0;
	margin: 15px auto;
}
.main-middle3-all h2 {
	color: #828282;
	font-size: 2.1875em;
	text-align: center;
	margin-bottom: 50px;
}
.main-middle3 article a img {
	margin: 0 auto 18px auto;
	display: block;
}
.main-middle3 article a:hover img {
	opacity: 0.8;
}
.main-middle3 article a {
	font-size: 1.125em;
	text-transform: uppercase;
}
.main-middle3 article a:hover {
	color: #00a8ff;
	text-decoration: none;
}
.main-middle3 p {
	text-align: center;
	font-size: 0.75em;
	line-height: 1.6;
}
.golden-text {
	color: #d2a739;
	font-size: 1.425em;
}
.main-middle3 h2 a {
	text-decoration: none;
}
.main-middle3 article {
	width: 32.07%;
	float: left;
	margin-right: 1.895%;
}
.main-middle3 article:last-child {
	margin-right: 0;
}
.main-middle3 h2 {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.main-middle3 {
	margin: 10px auto 45px auto;
}
/* ----- /Слайдер ----- */
/* ----- Смартфоны ----- */
.main-middle4-section {
	margin-bottom: 50px;
	padding-top: 50px;
}
.main-middle4-section h3 {
	color: #d2a739;
	font-size: 1.25em;
	text-align: center;
}
.main-middle4-section hr {
	max-width: 40%;
	height: 2px;
	background: linear-gradient(to right,rgba(210,167,57,0)0%,rgba(210,167,57,0.7)50%,rgba(210,167,57,0)100%);
	border: 0;
	margin: 15px auto;
}
.main-middle4-section h2 {
	color: #828282;
	font-size: 2.1875em;
	text-align: center;
	margin-bottom: 50px;
}
.middle4-article article {
	width: 23%;
	margin-right: 2.45%;
	float: left;
	text-align: center;
}
.middle4-article article:last-child {
	margin-right: 0;
}
.middle4-article article img {
	border: 2px solid #d3d3d2;
	border-radius: 10px;
	margin: 0 auto;
	display: block;
}
.middle4-material {
	padding: 18px;
}
.middle4-material h2 {
	font-size: 1.125em;
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.middle4-material p {
	font-size: 0.625em;
	margin-bottom: 12px;
	line-height: 1.6;
}
p.cost-order {
	border-top: 1px solid #d3d3d2;
	font-size: 0.875em;
	color: #333333;
	padding: 14px 0 0 0;
	margin-top: 14px;
}
.cost {
	float: left;
}
.order {
	float: right;
}
/* ----- /Смартфоны ----- */

/* video */
.video-assus {
	background: url('images/video-bg.jpg') center top no-repeat;
	padding: 40px 0 16px 0;
	-webkit-background-size: cover;
	background-size: cover;
}
.video-center{
	text-align:center;
	color:#FFF;
	cursor:pointer;
}
.video-center h2{
	font-size:2.187em;
	margin:30px auto 40px auto;
}
.video-center p{
	font-size:1.125em;
	line-height:2;
	padding:40px 0 40px 0;
}
/* /video */
/* ----- О компании ----- */
.map0 {
	margin-bottom: 50px;
}
.map0 article {
	float: left;
	width: 55%;
}
.map1 {
	float: right;
	width: 40%;
}
.map0 article h1 {
	font-size: 1.40625em;
	color: #333;
	margin-bottom: 25px;
}
.map0 article p {
	font-size: 0.875em;
	color: #828282;
	margin-bottom: 20px;
}
.map-ifr {
	position: relative;
	padding-bottom: 40%;
	height: 0;
	overflow: hidden;
}
.map-ifr iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/* ----- /О компании ----- */
/* ----- Загрузки и т.д. ----- */
.drivers-100 {
	background: #828282;
	color: #333;
	padding: 28px 0;
	text-align: center;
}
.drivers-100 h3 {
	font-size: 3.375em;
	color: #FFF;
}
a.oreder-naw {
	color: #fff;
	display: inline-block;
	padding: 18px 18px;
	border: 2px solid #fff;
	border-radius: 10px;
	text-decoration: none;
	margin-top: 25px;
	font-weight: 700;
	font-size: 1.25em;
}

a:hover.oreder-naw {
	color: #00a8ff;
	border: 2px solid #00a8ff;
}


/* ----- /Загрузки и т.д. ----- */
/* ----- Подробнее ----- */
.contakt-assus {
	position: relative;
	height: 570px;
}

.contakt-form {
	position: absolute;
	bottom: 90px;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	background: rgba(0,128,0,0.6);
	border-radius: 4px;
	padding: 28px 28px 24px 28px;
	box-sizing: border-box;
} 
.contakt-form h2 {
	color: #fff;
	font-size: 2.187em;
	text-align: center;
	margin-bottom: 18px;
}
.foot-email {
	width: 100%;
	padding: 6px 15px;
	margin-bottom: 14px;
	font-size: 0.812em;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	color: #828282;
	text-align: center;
}
.foot-textarea {
	width: 100%;
	padding: 6px 15px;
	margin-bottom: 14px;
	font-size: 0.812em;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	color: #828282;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 130px;
}
.foot-submit {
	color: #fff;
	padding: 6px 20px;
	margin-bottom: 14px;
	font-size: 0.875em;
	border: none;
	background: #333;
	cursor: pointer;
	border-radius: 4px;
	margin: 0 auto;
	display: block;
}
.footer {
	padding: 40px 0;
	background: #2f2f2f;
}
.footer h2 {
	font-size: 1.4em;
	color: #828282;
	margin-left: 4em;
}
.bounce {
	animation-iteration-count: infinite;
}
.fade { 
	transition: all 300ms linear;
}
.out {
	opacity:0;
}
.loadsite {
	position:absolute; 
	top:30%; 
	width:100%; 
	padding:0; 
	margin:0;
	z-index:999; 
	animation: 1s ls infinite;
	-webkit-animation: 1s ls infinite;
}
.t-loadsite {
	color: #fff; 
	background:#828282; 
	width:30%; 
	padding:10px;  
	text-align:center; 
	margin:0 auto;
	font-size:2em;
	border-radius: 30px;
}
@keyframes ls {
	0% {opacity:1; }   
	50% {opacity:0; }   
	100% {opacity:1; }   
}
		
@-webkit-keyframes ls {
	0% {opacity:1; }   
	50% {opacity:0; }   
	100% {opacity:1; }   
}
.dn {
	display:none;

}
/* ----- /Подробнее ----- */
@media screen and (max-width:970px) {
	.my-slider ul li h1{						 /*     22          */
 font-size:25px; margin-bottom:10px;
}
.my-slider ul li p {						 /*     22          */
 font-size:18px;
}
.my-slider ul li p span {						 /*     22          */
 font-size:14px; margin-top:10px;
}
.download-top {
	padding: 14px 35px;
}	
.drivers-100 h3 {
	float: none;
	text-align: center;
}
.drivers-form {
	float: none;
	margin: 16px auto 0 auto;
	display: table;
}
}
@media screen and (max-width:685px) {
.search-top {
float: right;
border-bottom:1px solid #d3d3d2;
border-top:1px solid #d3d3d2;
padding:6px 0;
}
.my-slider ul li h1 {
font-size:20px;
top:80px;
}
.my-slider ul li p {
font-size:15px;
top:120px;
}
.download-top {
	padding: 10px 25px;
}	
.map0 article {
float: none;
width:95%;
margin:0 2.5% 25px 2.5%;
}
.map1 {
float: none;
width:95%;
margin:0 2.5% 25px 2.5%;
}
.loadsite {
	top:20%; 
}
.t-loadsite { 
	width:30%; 
	padding:10px;  
	font-size:1em;
}
}
@media screen and (max-width:600px) {
.slider-cover {
	position: absolute;
	max-width: 1000px;
	left: 4%;
	top: 8%;
}
.main-middle3 article {
width:95%;
float: none;
margin:0 2.5% 25px 2.5%; /* 374/1166=32.07  32.07*3=96,21=3,79/2=1,895 */
}
.main-middle3 article:last-child {
margin:0 2.5% 25px 2.5%;
}
.main-middle3 article h2 {
text-align:center;
/* 22.5px/16=1,40625 */
}
.main-middle3 article p {
text-align:center;
}
.main-middle3 article img {
width:95%;
}
}
@media screen and (max-width:405px) {
.header-t {
padding:5px 0 20px 0;
}
.asus {
float: none;
margin:0 auto 1% auto;
display:table;
}
.tel-basket {
float: none;
margin:0 auto 1% auto;
display:table;
}
.download-top {
padding: 5px 15px;
}
}
@media screen and (max-width:390px) {
.my-slider ul li h1 {
font-size:18px;
top:30px;
}
.my-slider ul li p {
font-size:0;
top:70px;
color:#0080FF;
}
.middle4-article article {
width:95%;
float: none;
margin:0 2% 25px 2%; /*background:yellow; */
/* 268/1166=22,98456260720412  22,98456260720412*4=91,93825042881648-100=-8,06174957118352/3=2,687249857061173    */
}
.middle4-article article:last-child {
width:95%;
float: none;
margin:0 2% 25px 2%;
}
}
@media only screen and (max-width:315px) {
.basket {
padding:4px 10px;
margin-left:10px;
}
.my-slider ul li h1 {
font-size:20px;
}
.my-slider ul li p {
font-size:0;
top:50px;
left:20%;
font-weight:bold;
}
.drivers-100 {
padding:15px 0;
}
.drivers-form {
float: none;
margin:16px auto 0 auto;
display:table;
}
.drivers-models {
float: none;
width:95%;
margin:0 2.5% 10px 2.5%;
}
.drivers-submit {
margin-left:2.5%;
}
}

